appdirs==1.4.0
colorama==0.3.7
decorator==4.0.11
dj-database-url==0.4.2
Django==1.10.6
hupper==0.4.2
ipython==5.2.2
ipython-genutils==0.1.0
jinja2==2.9.5
-e git+https://git.heroku.com/aqueous-everglades-60158.git@6e5a1d152dd93f4867001dd5a0866b67359f1520#egg=learning_journal
mako==1.0.6
markupsafe==0.23
packaging==16.8
passlib==1.7.1
PasteDeploy==1.5.2
pickleshare==0.7.4
prompt-toolkit==1.0.13
pygments==2.2.0
pyparsing==2.1.10
pyramid==1.8.1
pyramid-debugtoolbar==3.0.5
pyramid-ipython==0.2
pyramid-jinja2==2.7
pyramid-mako==1.0.2
pyramid-tm==1.1.1
repoze.lru==0.6
simplegeneric==0.8.1
six==1.10.0
sqlalchemy==1.1.5
traitlets==4.3.1
transaction==2.0.3
translationstring==1.3
venusian==1.0
waitress==1.0.2
wcwidth==0.1.7
WebOb==1.7.1
win-unicode-console==0.5
wtforms==2.1
zope.deprecation==4.2.0
zope.interface==4.3.3
zope.sqlalchemy==0.7.7
